<ion-view view-title="Form 1">
  <ion-content>
    <label class="item item-input">
      <span class="input-label">First Name</span>
      <input type="text" name="fname" placeholder="Required">
    </label>
    <label class="item item-input">
      <span class="input-label">Last Name</span>
      <input type="text" name="lname" placeholder="Required">
    </label>
    <label class="item item-input">
      <span class="input-label">Email Address</span>
      <input type="text" name="emailaddress" placeholder="Required">
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Gender
      </div>
      <select>
        <option selected>Female</option>
        <option>Male</option>
      </select>
    </label>
    <label class="item item-input item-select">
      <div class="input-label">
        Title
      </div>
      <select>
        <option selected>Director</option>
        <option>Manager</option>
        <option>Solution Architect</option>
        <option>Team Lead</option>
        <option>Dveloper</option>
      </select>
    </label>
    <label class="item item-input item-stacked-label">
    <span class="input-label">Message</span>
    <textarea placeholder="Write down your thoughts..." name="message"></textarea>
  </label>
  <div class="padding">
    <button class="button button-block button-assertive" ng-click="">
      SEND
    </button>
  </div>
  </ion-content>
</ion-view>