<ion-view hide-nav-bar="true">
  <ion-content>
  	<h1 id="landingheader"><img src="img/headerimg.jpg" width="300" /></h1>
  	<div class="colrow colrow1">
	  	<div class="landingCol" ng-click="form1()">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Form-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Consillium Onboard/Offboarding Form</div>
	  		</div>
	  	</div>
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Clipboard-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Business Card<br>Request Form</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="colrow colrow2">
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Metamorphose-50.png" width="30">
		  		</div>
		  		<div class="icontitle">2201 Parking<br>Request Form</div>
	  		</div>
	  	</div>
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/AudioWave-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Employee Badge<br>Access Form</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="colrow colrow3">
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Suitcase-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Consillium Parking<br>Request Form</div>
	  		</div>
	  	</div>
	  	<div class="landingCol" ng-click="moreforms()">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/MultipleChoice-50.png" width="30">
		  		</div>
		  		<div class="icontitle">More Forms</div>
	  		</div>
	  	</div>
  	</div>
  </ion-content>
 </ion-view>