<ion-view hide-nav-bar="true">
  <ion-content>
  	<h1 id="landingheader">FORMIFY</h1>
  	<div class="colrow colrow1">
	  	<div class="landingCol" ng-click="form1()">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Form-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Form 1</div>
	  		</div>
	  	</div>
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Clipboard-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Form 2</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="colrow colrow2">
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Metamorphose-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Form 3</div>
	  		</div>
	  	</div>
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/AudioWave-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Form 4</div>
	  		</div>
	  	</div>
  	</div>
  	<div class="colrow colrow3">
	  	<div class="landingCol" ng-click="moreforms()">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/Suitcase-50.png" width="30">
		  		</div>
		  		<div class="icontitle">Form 5</div>
	  		</div>
	  	</div>
	  	<div class="landingCol">
	  		<div class="iconarea">
	  			<div class="imgholder">
		  			<img src="img/MultipleChoice-50.png" width="30">
		  		</div>
		  		<div class="icontitle">More Forms</div>
	  		</div>
	  	</div>
  	</div>
  </ion-content>
 </ion-view>