<ion-view view-title="More Forms">
  <!-- <search-bar ng-model="search"></search-bar> -->
  <ion-content>
  	<label class="item item-input item-search">
    	<input type="text" name="name" placeholder="Search Forms..." ng-model="userSearch.name">
    </label>
  	<ion-list>
  		<div ng-repeat="listitem in list | filter:userSearch" class="formList">
  			<a href="#{{ listitem.url }}">{{ listitem.name }}</a>
  			<span ng-controller="PopupCtrl">
  			<button ng-click="showAlert()" class="{{listitem.infoIcon}}"></button>
  			</span>
  		</div>
  	</ion-list>
  </ion-content>
</ion-view>

