<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.formify905772" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Formify</name>
  <description>
        An Ionic Framework and Cordova project for Formify.
    </description>
  <author email="weipeng.wu@scotiabank.com" href="http://scotiabank.com.com/">
      Weipeng Wu
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  <platform name="ios">
    <icon src="icons/ios/icon-60.png" width="60" height="60"/>
    <icon src="icons/ios/icon-60@2x.png" width="120" height="120"/>
    <icon src="icons/ios/icon-76.png" width="76" height="76"/>
    <icon src="icons/ios/icon-76@2x.png" width="152" height="152"/>
  </platform>
</widget>